.dialog-wrapper {
  position: fixed;
  z-index: 9999;
  overflow: auto;
  margin: 0;
  padding: 0;
  background: $light-black;
}

#dialog {
  position: absolute;
  z-index: 99999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  max-width: 80vw;
  border: 2px solid $color-primary;
  border-radius: 16px;
  box-shadow: 6px 6px 0 $color-secondary;
  background: $white;

  @include break(48em) {
    width: 30vw;
  }
}

.dialog__inner {
  max-width: 50ch;
  max-height: 50vh;
  overflow-y: auto;
  padding: 1.5rem;
  color: $color-primary;

  p {
    margin-top: 0;
    padding-top: 1.7rem;
    font-family: $font-base;
  }
}

.dialog-content {
  flex: 2 1;
  margin-left: 10px;
  padding: 0;
  color: $color-secondary;
  font-size: 1rem;
  line-height: 1.375rem;
  text-align: left;
  text-transform: capitalize;
  cursor: pointer;
}
