*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.65;
  padding: 2rem;
  color: #29344b;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

main {
  text-align: center;
}

li {
  list-style: none;
}

.nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  position: absolute;
  bottom: 2rem;
}

a {
  text-decoration: none;
  margin: 1rem;
}

a:visited {
  color: black;
}

.active {
  font-weight: bold;
}

.button-home {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.25em 0.75em;
  background-color: #e0d4f6;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  font-family: inherit;
  font-size: 1.5rem;
  line-height: 1.1;
  text-align: center;
  cursor: pointer;
  transition: 220ms all ease-in-out;
  color: #675883;
  font-weight: bold;
  border-radius: 0.15em;
}

.button-home:hover,
.button-home:active {
  background-color: powderblue;
}

.button-home:focus {
  outline-style: solid;
  outline-color: transparent;
}

.join-list_container {
  margin: 1rem;
}

.form-container {
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto;
  justify-content: center;
  grid-row-gap: 10px;
}

.add-button {
  padding: 0.5rem 2rem;
  border: 2px solid;
  border-radius: 0.25rem;
  background: #fe9476;
  color: #263147;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Red Hat Display', 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    sans-serif;
  font-size: 1.33rem;
  font-weight: 900;
  line-height: 1.5;
  cursor: pointer;
}

.form {
  display: grid;
  place-content: center;
  color: #404040;
  font-size: 1rem;
  line-height: 1.375rem;
  text-align: left;
}

.form-row {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  margin: 0;
  padding: 0;
  color: #404040;
  list-style: none;
  direction: ltr;
  font-size: 1rem;
  line-height: 1.375rem;
  text-align: left;
  box-sizing: inherit;
}

.form-row + .form-row {
  margin-top: 1.5rem;
}

.form-group label {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier;
}

.form-field {
  display: block;
  width: 100%;
  max-width: 60ch;
  margin-top: 0.125rem;
  padding: 0.85rem 1rem;
  border: 1px solid;
  background: none;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier,
    monospace;
  font-size: 1rem;
  line-height: 1;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: 'color 9999s ease-out, background-color 9999s ease-out';
  -webkit-transition-delay: 9999s;
}

.field-error {
  display: block;
  padding: 0.25rem;
  border: 0 solid;
  font-family: inherit;
  font-weight: 400;
  font-style: italic;
  line-height: 1.375rem;
}

.list {
  display: grid;
  justify-content: center;
  grid-row-gap: 10px;
}

.list__item {
  text-transform: capitalize;
}

@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translate3d(0, -16px, 0);
  }
}

.bouncing-loader {
  display: flex;
  justify-content: center;
}

.bouncing-loader > div {
  width: 8px;
  height: 8px;
  margin: 3rem 0.2rem;
  background: #8385aa;
  border-radius: 50%;
  animation: bouncing-loader 0.6s infinite alternate;
}

.bouncing-loader > div:nth-child(2) {
  animation-delay: 0.2s;
}

.bouncing-loader > div:nth-child(3) {
  animation-delay: 0.4s;
}
