.active {
  font-weight: bold;
}

a {
  text-decoration: none;
  margin: 1rem;
}

a:visited {
  color: black;
}

main {
  text-align: center;
  position: relative;
}

nav {
  position: absolute;
  bottom: 0;
  left: 50%;
}
